.pomodoro-timer__task {
  position: absolute;
  bottom: 22%;
  left: 50%;
  transform: translateX(-50%);
  width: 86%;
  padding-top: 8px;
}

.pomodoro-timer__clock {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  filter: drop-shadow(0 4px 12px rgba(224, 170, 170, 0.1));
}

.pomodoro-timer__settings {
  position: absolute;
  right: -44px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 160;
}
.pomodoro-timer__tabs-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
