.menu-tabs {
  margin: 10px 10px;
}
.element-spacing {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
/* Hide scrollbar while keeping scroll functionality */
.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
